# Auto detect text files and perform LF normalization
* text=auto

# These files are text and should be normalized (convert crlf => lf)
*.css           text
*.html          text
*.java          text
*.js            text
*.json          text
*.jsx           text
*.ts            text
*.tsx           text
*.properties    text
*.txt           text
*.xml           text
*.yml           text
*.md            text

# These files are binary and should be left untouched
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.ico           binary
*.mov           binary
*.mp4           binary
*.mp3           binary
*.flv           binary
*.fla           binary
*.swf           binary
*.gz            binary
*.zip           binary
*.7z            binary
*.ttf           binary
*.eot           binary
*.woff          binary
*.woff2         binary

